@{
    ViewData["Title"] = "Home Page";
    ViewData["Heading"] = "The Joel Hilton Film Collection";
}

<div>
    <img src="~/img/JoelHilton.jpg" class="mt-4" width="400px"/>
</div>

<div>
    <a class="btn btn-info m-4" asp-action="MovieList">Movie List</a>
</div>
